* {
    margin: 0;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
}

.text-orange {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
    padding: 18px 35px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.btn-secondary {
    height: 64px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    background: none;
    padding: 18px 35px;
    font-weight: 700;
    font-size: 20px;
    color: #FD6E0A;
}

/* Header And Navigation Styles */
header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

.nav-title {
    height: 61px;
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 50px;
}

/* Top Banner */
.top-banner {
    display: flex;
    align-items: center;
}

.banner-text {
    padding: 0 200px;
    align-items: center;
}

.primary-title {
    height: 116px;
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 30px;
}

.secondary-title {
    height: 61px;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner-description {
    margin-bottom: 30px;
    size: 18px;
}

/* Main Section */
main {
    max-width: 1140px;
    max-height: 550px;
    margin: 0 auto;
}

/* About Section */

.about-me {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    box-shadow: 10px 10px 15px;
}

.about-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    height: 48px;
}

.about-description {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}

.info-description {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

/* What i do styles */
.what-i-do {
    margin-top: 130px;
}

.what-i-do-title {
    font-weight: 700;
    font-size: 35px;
    height: 48px;
    text-align: center;
}

.what-i-do-description {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 30px auto 50px auto;
    color: #757575;
    width: 900px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 10px 10px 15px;
}

.skill-title {
    font-size: 20px;
    font-weight: 700;
    color: #181818;
    margin: 30px 0 20px 0;
}

.skill-description {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}

/* Resume Section */

.resume-section {
    margin-top: 130px;
}

.resume-title {
    font-weight: 700;
    font-size: 35px;
    height: 48px;
    text-align: center;
    margin-bottom: 113px;
}
.resume-content {
    display: flex;
    gap: 24px;
}
.education-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}

.experience-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}
.resume-item {
    text-align: left;
    margin: 30px 0;
}
.resume-section .title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
}
.resume-section .sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin: 10px 0 20px 0;
}
.resume-section .description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.resume-buttom {
    margin: 50px 0 113px 0;
    text-align: center;
}
/* Contact Style */
.contact-section {
    display: flex;
    gap: 117px;
    background: #FFF8F3;
    padding: 130px 200px;
}
.contact-title {
    font-weight: 700;
    font-size: 35px;
    height: 48px;
    text-align: left;
    margin-bottom: 20px;
}
.contact-description {
    margin-bottom: 30px;
}
.message input[type="text"], input[type="email"], textarea {
    margin-bottom: 24px;
    width: 100%;
    padding: 18px 30px;
    border: 0;
    border-radius: 10px;
}
input {
    height: 30px;
}
.connect a {
    text-decoration: none;
}